VITE_BETTER_AUTH_URL=http://localhost:3000
VITE_BETTER_AUTH_KEYCLOAK_PROVIDER_ID=keycloak
VITE_BETTER_AUTH_SCOPES=openid,profile,email
VITE_BETTER_AUTH_SUCCESS_PATH=/
VITE_BETTER_AUTH_ERROR_PATH=/login
