VITE_KEYCLOAK_ISSUER=http://localhost:7080/realms/master
VITE_KEYCLOAK_CLIENT_ID=kanai
VITE_KEYCLOAK_SCOPES=openid,profile,email
VITE_KEYCLOAK_SUCCESS_PATH=/auth/callback
VITE_KEYCLOAK_ERROR_PATH=/login
