.env
.worktrees/
.ralph/
opencode.json
!AGENTS.md
!.opencode
!opencode.json
issues/

# Beads / Dolt files (added by br init)
.dolt/
*.db
.beads-credential-key
.beads
.ralph-tui/*
tasks/
ralph-prompt.hbs
!.ralph-tui/worktrees/