DATABASE_URL=postgresql+asyncpg://postgres:postgres@localhost:5617/postgres
ENVIRONMENT=local
AUTH__DISCOVERY_ENDPOINT=http://localhost:7080/realms/master/.well-known/openid-configuration
AUTH__AUDIENCE=account
REDIS_URL="redis://localhost:6379/0"
CLIENT_ORIGIN="http://localhost:3000"